<section class="section section-blog">
  <div class="row">
    <div class="col col-12">
      <div class="section__info">
        <h2 class="section__title">
          Latest <em>Articles</em> & <em>Publications</em>
        </h2>
        <p class="section__description">
          Discover the latest industry news, insights, and trends in a few clicks.
        </p>
      </div>
      <div class="row">
        <!-- Article 1 -->
        <div class="article col col-6 col-t-12">
          <div class="article__content">
            <div class="article__head">
              <a href="/blog/strategies-for-effective-development" class="article__image">
                <img class="lazy" data-src="/images/02.jpg" alt="Strategies for Effective Development">
              </a>
            </div>
            <div class="article__info">
              <h2 class="article__title">
                <a href="/blog/strategies-for-effective-development">Strategies for Effective Development</a>
              </h2>
              <div class="article__meta">
                <div class="article__tags">
                  <a href="/tags/?tag=coding" class="article__tag">Coding</a>
                </div>
                <span>•</span>
                <time class="article__date" datetime="2024-06-03T12:01:35+00:00">03 Jun 2024</time>
                <span>•</span>
                <span class="article__minutes">2 min read</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Article 2 -->
        <div class="article col col-6 col-t-12">
          <div class="article__content">
            <div class="article__head">
              <a href="/blog/essential-skills-for-successful-coding" class="article__image">
                <img class="lazy" data-src="/images/03.jpg" alt="Essential Skills for Successful Coding">
              </a>
            </div>
            <div class="article__info">
              <h2 class="article__title">
                <a href="/blog/essential-skills-for-successful-coding">Essential Skills for Successful Coding</a>
              </h2>
              <div class="article__meta">
                <div class="article__tags">
                  <a href="/tags/?tag=coding" class="article__tag">Coding</a>
                </div>
                <span>•</span>
                <time class="article__date" datetime="2024-05-08T12:01:35+00:00">08 May 2024</time>
                <span>•</span>
                <span class="article__minutes">2 min read</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Article 3 -->
        <div class="article col col-6 col-t-12">
          <div class="article__content">
            <div class="article__head">
              <a href="/blog/advanced-concepts-in-product-design" class="article__image">
                <img class="lazy" data-src="/images/04.jpg" alt="Advanced Concepts in Product Design">
              </a>
            </div>
            <div class="article__info">
              <h2 class="article__title">
                <a href="/blog/advanced-concepts-in-product-design">Advanced Concepts in Product Design</a>
              </h2>
              <div class="article__meta">
                <div class="article__tags">
                  <a href="/tags/?tag=design" class="article__tag">Design</a>
                </div>
                <span>•</span>
                <time class="article__date" datetime="2024-05-07T12:01:35+00:00">07 May 2024</time>
                <span>•</span>
                <span class="article__minutes">2 min read</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Article 4 -->
        <div class="article col col-6 col-t-12">
          <div class="article__content">
            <div class="article__head">
              <a href="/blog/expert-advice-for-design-professionals" class="article__image">
                <img class="lazy" data-src="/images/05.jpg" alt="Expert Advice for Design Professionals">
              </a>
            </div>
            <div class="article__info">
              <h2 class="article__title">
                <a href="/blog/expert-advice-for-design-professionals">Expert Advice for Design Professionals</a>
              </h2>
              <div class="article__meta">
                <div class="article__tags">
                  <a href="/tags/?tag=design" class="article__tag">Design</a>
                </div>
                <span>•</span>
                <time class="article__date" datetime="2024-05-04T12:01:35+00:00">04 May 2024</time>
                <span>•</span>
                <span class="article__minutes">2 min read</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section__navigation">
    <a href="/blog" class="button section__button">
      All Articles <i class="fa-solid fa-arrow-up"></i>
    </a>
  </div>
</section>
