<footer>
  <div class="container">
    <div class="social-links">
      <a href="https://linkedin.com/in/yourprofile" target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/yourusername" target="_blank" aria-label="GitHub">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://youtube.com/yourchannel" target="_blank" aria-label="YouTube">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <div class="footer-menu">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}/portfolio.html">Portfolio</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="copyright">
      &copy; {{ site.time | date: "%Y" }} {{ site.author }}. All rights reserved.
    </div>
  </div>
</footer>
