<section class="section section-logos">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2 class="logos-title">My Playground</h2>
        <div class="logos splide" id="splide01">
          <div class="splide__track">
            <div class="logos__inner splide__list">
              <div class="logos__image splide__slide">
                <img src="/assets/images/interest1.jpg" alt="Interest 1">
              </div>
              <div class="logos__image splide__slide">
                <img src="/assets/images/interest2.jpg" alt="Interest 2">
              </div>
              <div class="logos__image splide__slide">
                <img src="/assets/images/interest3.jpg" alt="Interest 3">
              </div>
              <!-- Add additional carousel items as needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
