<section class="section section-projects">
  <div class="row">
    <div class="col col-12">
      <div class="section__info">
        <h2 class="section__title">
          Product Design <em>Showcase</em>
        </h2>
        <p class="section__description">I present my top-tier projects, meticulously crafted with unwavering passion, simplicity, boundless creativity, and unparalleled attention to detail.</p>
      </div>
      <div class="row">
        <article class="project col col-6 col-t-12">
          <div class="project__content">
            <div class="project__head">
              <a href="/project/fashion-ecommerce-app" class="project__image">
                <img class="lazy" data-src="/images/project-1.jpg" alt="Fashion Ecommerce App">
              </a>
            </div>
            <div class="project__info">
              <h2 class="project__title">
                <a href="/project/fashion-ecommerce-app">Fashion Ecommerce App</a>
              </h2>
              <div class="project__meta">
                <div class="project__subtitle">Development</div>
                <span>•</span>
                <time datetime="2024-05-16T05:01:35+00:00">16 May 2024</time>
              </div>
            </div>
          </div>
        </article>
        <article class="project col col-6 col-t-12">
          <div class="project__content">
            <div class="project__head">
              <a href="/project/creating-a-responsive-grid" class="project__image">
                <img class="lazy" data-src="/images/project-2.jpg" alt="Creating a Responsive Grid">
              </a>
            </div>
            <div class="project__info">
              <h2 class="project__title">
                <a href="/project/creating-a-responsive-grid">Creating a Responsive Grid</a>
              </h2>
              <div class="project__meta">
                <div class="project__subtitle">Product Design</div>
                <span>•</span>
                <time datetime="2024-05-12T05:01:35+00:00">12 May 2024</time>
              </div>
            </div>
          </div>
        </article>
        <article class="project col col-6 col-t-12">
          <div class="project__content">
            <div class="project__head">
              <a href="/project/promotional-landing-page" class="project__image">
                <img class="lazy" data-src="/images/project-3.jpg" alt="Promotional Landing Page">
              </a>
            </div>
            <div class="project__info">
              <h2 class="project__title">
                <a href="/project/promotional-landing-page">Promotional Landing Page</a>
              </h2>
              <div class="project__meta">
                <div class="project__subtitle">Development</div>
                <span>•</span>
                <time datetime="2024-05-07T05:01:35+00:00">07 May 2024</time>
              </div>
            </div>
          </div>
        </article>
        <article class="project col col-6 col-t-12">
          <div class="project__content">
            <div class="project__head">
              <div class="video-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                  <polygon points="40,30 65,50 40,70"></polygon>
                </svg>
              </div>
              <a href="/project/beauty-care-website-design" class="project__image">
                <img class="lazy" data-src="/images/project-4.jpg" alt="Beauty Care Website Design">
              </a>
            </div>
            <div class="project__info">
              <h2 class="project__title">
                <a href="/project/beauty-care-website-design">Beauty Care Website Design</a>
              </h2>
              <div class="project__meta">
                <div class="project__subtitle">Development</div>
                <span>•</span>
                <time datetime="2024-05-04T05:01:35+00:00">04 May 2024</time>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="section__navigation">
    <a href="/projects" class="button section__button">
      All Projects <i class="fa-solid fa-arrow-up"></i>
    </a>
  </div>
</section>

