<section class="section section-gallery">
  <div class="row">
    <div class="col col-12">
      <!-- Section header: Title and description -->
      <div class="section__info">
        <h2 class="section__title">
          A Visual Journey Through <em>My World</em>
        </h2>
        <p class="section__description">
          Step into my visual world where each image tells a story. From the bustling streets of urban landscapes to the serene beauty of nature, explore the moments that inspire and define my journey.
        </p>
      </div>
      <!-- Gallery images container -->
      <div class="section-gallery__inner">
        <!-- Gallery image 1 -->
        <div class="section-gallery__image">
          <img class="lazy" data-src="/images/100.jpg" loading="lazy" alt="Together">
        </div>
        <!-- Gallery image 2 -->
        <div class="section-gallery__image">
          <img class="lazy" data-src="/images/101.jpg" loading="lazy" alt="Lifestyle">
        </div>
        <!-- Gallery image 3 -->
        <div class="section-gallery__image">
          <img class="lazy" data-src="/images/102.jpg" loading="lazy" alt="Friends">
        </div>
      </div>
    </div>
  </div>
</section>
