<section class="section section-faq">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <h2 class="section__title">
            Questions? <em>Answers</em>.
          </h2>
          <p class="section__description">Find solutions to common queries here.</p>
        </div>
        <div class="faq">
          <div class="faq__item" tabindex="0" data-name="closed">
            <h3 class="faq__title">
              What are your main areas of expertise in product design?
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none">
                <path fill="var(--text-alt-color)" d="M8.654 1.168a1.153 1.153 0 1 0-2.308 0V6.36H1.154a1.153 1.153 0 1 0 0 2.308h5.192v5.192a1.153 1.153 0 1 0 2.308 0V8.668h5.192c.638 0 1.154-.516 1.154-1.154 0-.639-.516-1.154-1.154-1.154H8.654V1.168Z"/>
              </svg>
            </h3>
            <div class="faq__description">
              <p>
                My specialization includes user interface (UI) and user experience (UX) design, prototyping, as well as researching and testing user needs.
              </p>
            </div>
          </div>
          <div class="faq__item" tabindex="0" data-name="closed">
            <h3 class="faq__title">
              Can you provide examples of your work?
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none">
                <path fill="var(--text-alt-color)" d="M8.654 1.168a1.153 1.153 0 1 0-2.308 0V6.36H1.154a1.153 1.153 0 1 0 0 2.308h5.192v5.192a1.153 1.153 0 1 0 2.308 0V8.668h5.192c.638 0 1.154-.516 1.154-1.154 0-.639-.516-1.154-1.154-1.154H8.654V1.168Z"/>
              </svg>
            </h3>
            <div class="faq__description">
              <p>Yes, on my website, you can find a portfolio with examples of my projects and designs.</p>
            </div>
          </div>
          <div class="faq__item" tabindex="0" data-name="closed">
            <h3 class="faq__title">
              What is your experience with various platforms and devices?
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none">
                <path fill="var(--text-alt-color)" d="M8.654 1.168a1.153 1.153 0 1 0-2.308 0V6.36H1.154a1.153 1.153 0 1 0 0 2.308h5.192v5.192a1.153 1.153 0 1 0 2.308 0V8.668h5.192c.638 0 1.154-.516 1.154-1.154 0-.639-.516-1.154-1.154-1.154H8.654V1.168Z"/>
              </svg>
            </h3>
            <div class="faq__description">
              <p>
                I have extensive experience working with various platforms, including websites, mobile applications, tablets, and other devices.
              </p>
            </div>
          </div>
          <div class="faq__item" tabindex="0" data-name="closed">
            <h3 class="faq__title">
              What tools and software do you use for work?
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none">
                <path fill="var(--text-alt-color)" d="M8.654 1.168a1.153 1.153 0 1 0-2.308 0V6.36H1.154a1.153 1.153 0 1 0 0 2.308h5.192v5.192a1.153 1.153 0 1 0 2.308 0V8.668h5.192c.638 0 1.154-.516 1.154-1.154 0-.639-.516-1.154-1.154-1.154H8.654V1.168Z"/>
              </svg>
            </h3>
            <div class="faq__description">
              <p>
                I work with tools such as Sketch, Adobe XD, Figma, InVision for creating designs and prototypes, and also use Jira and Trello for project management.
              </p>
            </div>
          </div>
          <div class="faq__item" tabindex="0" data-name="closed">
            <h3 class="faq__title">
              How long does it take to develop a product design?
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none">
                <path fill="var(--text-alt-color)" d="M8.654 1.168a1.153 1.153 0 1 0-2.308 0V6.36H1.154a1.153 1.153 0 1 0 0 2.308h5.192v5.192a1.153 1.153 0 1 0 2.308 0V8.668h5.192c.638 0 1.154-.516 1.154-1.154 0-.639-.516-1.154-1.154-1.154H8.654V1.168Z"/>
              </svg>
            </h3>
            <div class="faq__description">
              <p>
                The development time depends on the complexity of the project. Usually, creating a product design takes from several weeks to several months.
              </p>
            </div>
          </div>
          <div class="faq__item" tabindex="0" data-name="closed">
            <h3 class="faq__title">
              How can I contact you to discuss my project?
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none">
                <path fill="var(--text-alt-color)" d="M8.654 1.168a1.153 1.153 0 1 0-2.308 0V6.36H1.154a1.153 1.153 0 1 0 0 2.308h5.192v5.192a1.153 1.153 0 1 0 2.308 0V8.668h5.192c.638 0 1.154-.516 1.154-1.154 0-.639-.516-1.154-1.154-1.154H8.654V1.168Z"/>
              </svg>
            </h3>
            <div class="faq__description">
              <p>
                You can contact me through the contact form on my website or directly via email. I'm always open to new projects and ready to discuss your idea.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  