<section class="section-subscribe">
  <div class="section-subscribe__inner">
    <div class="section-subscribe__content">
      <h3 class="section-subscribe__title">
        Subscribe to Our <em>Newsletter</em>
      </h3>
      <p class="section-subscribe__description">Join now and never miss out on our stuff again. Because you are worth it!</p>
    </div>
    <form class="section-subscribe__form validate" action="//gmail.us21.list-manage.com/subscribe/post?u=8aeb9c31a5c97a3a5f9ff2740&amp;id=0e31fd7793&amp" method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
      <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
      <input class="section-subscribe__email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="Your email address">
      <button class="button button--accent" id="membedded-subscribe" type="submit" name="subscribe">Subscribe</button>
    </form>
    <svg class="section-subscribe__bg" xmlns="http://www.w3.org/2000/svg" width="802" height="80" fill="none">
      <path fill="var(--background-alt-color-2)" stroke="var(--border-color)" d="M314.701 10.517C156.465-14.43 39.635 35.39 1 63.42v86.313h800V10.517c-10.079 0-54.89-15.069-164.669-7.284-137.978 9.785-123.835 38.468-321.63 7.284Z"/>
    </svg>
  </div>
</section>

