<section class="section section-testimonials">
  <div class="row">
    <div class="col col-12">
      <div class="section__info">
        <h2 class="section__title">
          Trusted by <em>Professionals</em>
        </h2>
        <p class="section__description">Join our community of creative professionals where you can develop your talents and reach new heights in design.</p>
      </div>
      <div class="testimonials__slider splide">
        <div class="splide__track">
          <div class="splide__list">
            <!-- Testimonial Item 1 -->
            <div class="testimonial-item splide__slide">
              <div class="testimonial-content">
                <div class="client-meta">
                  <div class="image-container">
                    <img class="client-avatar" src="/images/client-1.jpg" alt="Amelia Jones">
                  </div>
                  <div class="client-info">
                    <h3 class="client-name">Amelia Jones</h3>
                    <p class="client-designation">Network Engineer</p>
                  </div>
                </div>
                <svg class="testimonial-icon" xmlns="http://www.w3.org/2000/svg" width="96" height="16" fill="none">
                  <!-- SVG paths go here -->
                </svg>
                <p class="client-text">This product designer is an expert in his field. His ability to understand the needs of clients and create designs that satisfy them is astounding.</p>
              </div>
            </div>
            <!-- Testimonial Item 2 -->
            <div class="testimonial-item splide__slide">
              <div class="testimonial-content">
                <div class="client-meta">
                  <div class="image-container">
                    <img class="client-avatar" src="/images/client-2.jpg" alt="Ethan Robinson">
                  </div>
                  <div class="client-info">
                    <h3 class="client-name">Ethan Robinson</h3>
                    <p class="client-designation">Blockchain Developer</p>
                  </div>
                </div>
                <svg class="testimonial-icon" xmlns="http://www.w3.org/2000/svg" width="96" height="16" fill="none">
                  <!-- SVG paths go here -->
                </svg>
                <p class="client-text">Kevin is a true visionary in the field of product design. His ability to think outside the box and push boundaries is what sets him apart from the rest.</p>
              </div>
            </div>
            <!-- Testimonial Item 3 -->
            <div class="testimonial-item splide__slide">
              <div class="testimonial-content">
                <div class="client-meta">
                  <div class="image-container">
                    <img class="client-avatar" src="/images/client-3.jpg" alt="Matthew Garcia">
                  </div>
                  <div class="client-info">
                    <h3 class="client-name">Matthew Garcia</h3>
                    <p class="client-designation">IT Support Specialist</p>
                  </div>
                </div>
                <svg class="testimonial-icon" xmlns="http://www.w3.org/2000/svg" width="96" height="16" fill="none">
                  <!-- SVG paths go here -->
                </svg>
                <p class="client-text">I cannot recommend this designer highly enough. Their designs are not only visually stunning but also highly functional, making them perfect for our needs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

