// Post and Page Headers
// ---------------------

// Container for post and page headers
.post-head,
.page-head {
  max-width: 960px;
  margin: 0 auto 32px;
}

// Variants without an image
.post-head.without-image,
.page-head.without-image {
  max-width: 780px;
}

// Info sections (metadata) within headers
.post-head .post-info,
.post-head .page-info,
.page-head .post-info,
.page-head .page-info {
  margin-bottom: 32px;
}

// Title styling for posts and pages
.post-head .post-title,
.post-head .page-title,
.page-head .post-title,
.page-head .page-title {
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}

// Meta information (tags, subtitles, etc.)
.post-head .post-meta,
.post-head .page-meta,
.page-head .post-meta,
.page-head .page-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 6px;
  margin-top: 8px;
  color: var(--text-alt-color);
}

.post-head .post-meta .post-subtitle,
.post-head .page-meta .post-subtitle,
.page-head .post-meta .post-subtitle,
.page-head .page-meta .post-subtitle {
  margin: 0;
}

.post-head .post-meta .post-tag,
.post-head .page-meta .post-tag,
.page-head .post-meta .post-tag,
.page-head .page-meta .post-tag {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: rgba(0, 0, 0, 0);
  color: var(--link-color);
}

.post-head .post-meta .post-tag:hover,
.post-head .page-meta .post-tag:hover,
.page-head .post-meta .post-tag:hover,
.page-head .page-meta .post-tag:hover {
  text-decoration-color: var(--link-color);
}

.post-head .post-meta .post-tag:after,
.post-head .page-meta .post-tag:after,
.page-head .post-meta .post-tag:after,
.page-head .page-meta .post-tag:after {
  content: ",";
  display: inline-block;
}

.post-head .post-meta .post-tag:last-child:after,
.post-head .page-meta .post-tag:last-child:after,
.page-head .post-meta .post-tag:last-child:after,
.page-head .page-meta .post-tag:last-child:after {
  content: "";
}

.post-head .post-meta span,
.post-head .page-meta span,
.page-head .post-meta span,
.page-head .page-meta span {
  font-size: 14px;
}


// Post and Page Image Containers
// --------------------------------
.post-head .post-image,
.post-head .page-image,
.page-head .post-image,
.page-head .page-image {
  position: relative;
  transform: translate(0);
  aspect-ratio: 4/3;
  border-radius: 24px;
  overflow: hidden;
  background: var(--background-alt-color);
}

.post-head .post-image img,
.post-head .page-image img,
.page-head .post-image img,
.page-head .page-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

@supports not (aspect-ratio: 4/3) {
  .post-head .post-image,
  .post-head .page-image,
  .page-head .post-image,
  .page-head .page-image {
    padding-bottom: 75%;
  }
}


// Post and Page Video Containers
// --------------------------------
.post-head .post-video,
.post-head .page-video,
.page-head .post-video,
.page-head .page-video {
  margin-bottom: 32px;
  border-radius: 24px;
  overflow: hidden;
  transform: translate(0);
  background-color: var(--background-alt-color);
}

.post-head .post-video .post-video__wrap,
.post-head .post-video .page-video__wrap,
.page-head .post-video .post-video__wrap,
.page-head .post-video .page-video__wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.post-head .post-video .post-video__wrap iframe,
.post-head .post-video .page-video__wrap iframe,
.page-head .post-video .post-video__wrap iframe,
.page-head .post-video .page-video__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// Responsive Adjustments
// ----------------------
@media (max-width: 1024px) {
  .post-head .post-info,
  .post-head .page-info,
  .page-head .post-info,
  .page-head .page-info {
    margin-bottom: 24px;
  }
  
  .post-head .post-title,
  .post-head .page-title,
  .page-head .post-title,
  .page-head .page-title {
    font-size: 46px;
  }
  
  .post-head .post-image,
  .post-head .page-image,
  .page-head .post-image,
  .page-head .page-image {
    border-radius: 20px;
  }
}

@media (max-width: 576px) {
  .post-head .post-title,
  .post-head .page-title,
  .page-head .post-title,
  .page-head .page-title {
    font-size: 36px;
  }
  
  .post-head .post-meta,
  .post-head .page-meta,
  .page-head .post-meta,
  .page-head .page-meta {
    margin-top: 4px;
  }
}


// Post and Page Content Containers
// ----------------------------------
.post,
.page {
  max-width: 780px;
  margin: 0 auto 60px;
}

.post .post__content a,
.post .page__content a,
.page .post__content a,
.page .page__content a {
  font-weight: 500;
  text-decoration-color: var(--link-color);
}

.post .post__content img+em a,
.post .post__content .gallery+em a,
.post .page__content img+em a,
.post .page__content .gallery+em a,
.page .post__content img+em a,
.page .post__content .gallery+em a,
.page .page__content img+em a,
.page .page__content .gallery+em a {
  text-decoration-color: rgba(0, 0, 0, 0);
}

.post .post__content img+em a:hover,
.post .post__content .gallery+em a:hover,
.post .page__content img+em a:hover,
.post .page__content .gallery+em a:hover,
.page .post__content img+em a:hover,
.page .post__content .gallery+em a:hover,
.page .page__content img+em a:hover,
.page .page__content .gallery+em a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-color);
}

.post .post__content .js-reframe,
.post .post__content img,
.post .page__content .js-reframe,
.post .page__content img,
.page .post__content .js-reframe,
.page .post__content img,
.page .page__content .js-reframe,
.page .page__content img {
  border-radius: 24px;
  overflow: hidden;
  cursor: zoom-in;
}

.post .post__content img.image-link,
.post .page__content img.image-link,
.page .post__content img.image-link,
.page .page__content img.image-link {
  cursor: pointer;
}

.post .post__content img[src$="#wide"],
.post .page__content img[src$="#wide"],
.page .post__content img[src$="#wide"],
.page .page__content img[src$="#wide"] {
  display: block;
  width: 100vw;
  max-width: none;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1024px) {
  .post .post__content .js-reframe,
  .post .post__content img,
  .post .page__content .js-reframe,
  .post .page__content img,
  .page .post__content .js-reframe,
  .page .post__content img,
  .page .page__content .js-reframe,
  .page .page__content img {
    border-radius: 20px;
  }
}

@media (max-width: 576px) {
  .post .post__content .js-reframe,
  .post .post__content img,
  .post .page__content .js-reframe,
  .post .page__content img,
  .page .post__content .js-reframe,
  .page .post__content img,
  .page .page__content .js-reframe,
  .page .page__content img {
    border-radius: 12px;
  }
}
