/* _responsive.scss */

/* For screens up to 1400px wide */
@media (max-width: 1400px) {
  .container {
    max-width: 740px;
  }
  // Generate wide grid helper classes:
  @for $i from 0 through 12 {
    .col-w-#{$i} {
      width: calc(#{$i} / 12 * 100%);
    }
    .push-w-#{$i} {
      margin-left: calc(#{$i} / 12 * 100%);
    }
    .pull-w-#{$i} {
      margin-right: calc(#{$i} / 12 * 100%);
    }
  }
}

/* For screens up to 1024px wide */
@media (max-width: 1024px) {
  .container {
    max-width: 740px;
  }
  .header .header__inner {
    padding: 20px 16px;
  }
  .sidebar {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--border-color);
    overflow: visible;
  }
  .sidebar__copyright {
    display: none;
  }
  // Generate desktop grid helper classes:
  @for $i from 0 through 12 {
    .col-d-#{$i} {
      width: calc(#{$i} / 12 * 100%);
    }
    .push-d-#{$i} {
      margin-left: calc(#{$i} / 12 * 100%);
    }
    .pull-d-#{$i} {
      margin-right: calc(#{$i} / 12 * 100%);
    }
  }
}

/* For screens up to 768px wide */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .post-head blockquote {
    font-size: 32px;
  }
  .gallery {
    margin-left: 12px;
    margin-bottom: 12px;
  }
  // Generate tablet grid helper classes:
  @for $i from 0 through 12 {
    .col-t-#{$i} {
      width: calc(#{$i} / 12 * 100%);
    }
    .push-t-#{$i} {
      margin-left: calc(#{$i} / 12 * 100%);
    }
    .pull-t-#{$i} {
      margin-right: calc(#{$i} / 12 * 100%);
    }
  }
}

/* For screens up to 576px wide */
@media (max-width: 576px) {
  .container {
    max-width: 480px;
    padding-left: calc(20px + 4px);
    padding-right: calc(20px + 4px);
  }
  .header .header__inner {
    padding: 20px 16px;
  }
  .gallery img {
    margin-left: 12px;
    margin-bottom: 12px;
    width: calc(100% - 12px);
  }
  // Generate mobile grid helper classes:
  @for $i from 0 through 12 {
    .col-m-#{$i} {
      width: calc(#{$i} / 12 * 100%);
    }
    .push-m-#{$i} {
      margin-left: calc(#{$i} / 12 * 100%);
    }
    .pull-m-#{$i} {
      margin-right: calc(#{$i} / 12 * 100%);
    }
  }
}
