// Theme Toggle
// ------------

.toggle-theme {
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  background-color: var(--background-alt-color);
  user-select: none;
  cursor: pointer;
}

.toggle-sun,
.toggle-moon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.toggle-sun svg,
.toggle-moon svg {
  width: 12px;
  height: 12px;
}

.toggle-sun svg path,
.toggle-moon svg path {
  fill: var(--link-color);
}

.toggle-moon {
  transform: translateX(1px);
}

.toggle-thumb {
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--heading-font-color);
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.dark-mode .toggle-thumb {
  transform: translateX(21px);
}


// Sidebar
// -------

.sidebar {
  position: fixed;
  z-index: 5;
  top: 150px;
  width: 39%;
  max-width: 450px;
  height: calc(100% - 190px);
  overflow: auto;
}

@media (max-width: 1024px) {
  .sidebar {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--border-color);
    overflow: visible;
  }

  .sidebar .sidebar__social {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .sidebar {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .sidebar .sidebar__meta .sidebar__avatar {
    min-width: 72px;
    height: 72px;
  }

  .sidebar .sidebar__content .sidebar__title {
    font-size: 36px;
  }

  .sidebar .sidebar__social .sidebar__social__list .sidebar__social__link {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

// Sidebar Inner Structure
.sidebar__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar__meta {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar__meta .sidebar__avatar {
  min-width: 80px;
  height: 80px;
  margin-right: 12px;
  transform: translate(0);
  border-radius: 50%;
  overflow: hidden;
  background: var(--background-alt-color);
}

.sidebar__meta .sidebar__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  user-select: none;
}

.sidebar__meta .sidebar__info .sidebar__intro {
  font-size: 16px;
  color: var(--heading-font-color);
}

.sidebar__meta .sidebar__info .sidebar__role {
  font-size: 16px;
  color: var(--text-alt-color);
}

// Sidebar Content
.sidebar__content {
  margin-bottom: 24px;
}

.sidebar__content .sidebar__title {
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 1.22;
}

.sidebar__content .sidebar__description {
  margin-bottom: 0;
  color: var(--text-alt-color);
}

// Sidebar Social
.sidebar__social {
  margin-bottom: 32px;
}

.sidebar__social .sidebar__social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.sidebar__social .sidebar__social__list .sidebar__social__item:first-child > .sidebar__social__link {
  padding-left: 0;
}

.sidebar__social .sidebar__social__item {
  margin-bottom: 0;
}

.sidebar__social .sidebar__social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-size: 18px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--heading-font-color);
  background: var(--background-alt-color);
}

.sidebar__social .sidebar__social__link:hover {
  color: var(--white);
  background: var(--brand-color);
}

// Sidebar Copyright
.sidebar__copyright {
  margin-top: auto;
  font-size: 16px;
  color: var(--text-alt-color);
}

@media (max-width: 1024px) {
  .sidebar__copyright {
    display: none;
  }
}
