.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s
}

@supports(-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .overlay {
      -webkit-backdrop-filter:saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      background: var(--background-rgba)
  }
}

.overlay.active {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  cursor: zoom-out;
  transition: opacity .25s
}

.overlay img {
  max-width: 90%;
  max-height: 90%
}