/*--------------------------------------------------------------
   Pagination Styles
--------------------------------------------------------------*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .load-more-posts i {
  margin-left: 6px;
  transform: rotate(180deg);
  font-size: 14px;
}

/*--------------------------------------------------------------
   Footer Information Styles
--------------------------------------------------------------*/
.footer__info {
  width: 100%;
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid var(--border-color);
}

/* Responsive adjustments for footer info on screens below 1024px */
@media (max-width: 1024px) {
  .footer__info {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Footer Info Visibility for Home Page */
.home-page .footer__info {
  display: none;
}

/* On screens below 1024px, show footer info on Home Page */
@media (max-width: 1024px) {
  .home-page .footer__info {
    display: block;
  }
}

/*--------------------------------------------------------------
   Copyright Styles
--------------------------------------------------------------*/
.copyright {
  font-size: 16px;
  color: var(--text-alt-color);
}

.copyright a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(0, 0, 0, 0);
  color: var(--heading-font-color);
}

copyright a:hover {
  text-decoration-color: var(--link-color);
  color: var(--link-color);
}