/* Global Box Sizing */
*, *::after, *::before {
  box-sizing: border-box;
}

/* Base Body Styles */
body {
  font-family: "Inter Tight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.search-is-visible {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

body.disable-animation *,
body.disable-animation *::after,
body.disable-animation *::before {
  transition: none !important;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  body {
    font-size: 16px;
  }
  .content {
    margin: 40px 0;
  }
}

/* Global Layout */
.global-wrap.is-active {
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  margin: 60px 0;
}

/* Image & Lightense Styles */
img,
.lightense-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Captions for Images and Galleries */
img + em,
.gallery + em {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: var(--text-alt-color);
}

img + em a,
.gallery + em a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: rgba(0, 0, 0, 0);
  font-weight: 500;
  color: var(--link-color);
  transition: all 0.25s;
}

img + em a:hover,
.gallery + em a:hover {
  text-decoration-color: var(--link-color);
}

/* Link Styles */
a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: rgba(0, 0, 0, 0);
  color: var(--link-color);
  transition: all 0.25s;
}

a:hover {
  text-decoration-color: var(--link-color);
}

/* Horizontal Rule */
hr {
  position: relative;
  height: 1px;
  margin: 60px 0;
  font-size: 16px;
  border: 0;
  background: var(--border-color);
}

/* Table Styles */
.table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  font-size: 12px;
  width: 100%;
  border: 1px solid var(--background-alt-color);
  border-collapse: collapse;
  color: var(--heading-font-color);
}

table th {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: 1px solid var(--th-color);
  color: var(--heading-font-color);
  font-weight: 700;
}

table tr {
  background-color: var(--tr-color);
  transition: background-color 0.3s ease;
}

table tr:nth-child(even) {
  background-color: transparent;
}

table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--border-color);
}

/* Lazy Loading Styles */
.lazy {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lazy.loaded {
  opacity: 1;
}

/* Hide the entire col until animations finish */
.col.col-7.col-d-12 {
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Start slightly below */
  animation: fadeInUp 1s ease forwards; /* Animate in */
  animation-delay: 3.0s; /* Delay to allow previous animations to complete */
}