body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,fieldset,legend,figure,hr {
  margin: 0;
  padding: 0
}

li>ul,li>ol {
  margin-bottom: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h1,h2,h3,h4,h5,h6,ul,ol,dl,blockquote,p,address,hr,table,fieldset,figure,pre {
  margin-bottom: 32px
}

ul,ol,dd {
  margin-left: 16px
}

ul li,ol li {
  margin-bottom: 4px
}