/*--------------------------------------------------------------
   List Reset
--------------------------------------------------------------*/
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
   Clearfix Helper
--------------------------------------------------------------*/
.clearfix::after,
.clearfix ::before {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------------------
   Screen Reader Text (Visually Hidden)
--------------------------------------------------------------*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}